@import "tailwindcss";

@theme {
  --color-prussian-blue: #030029;
  --color-azure-blue: #007EF5;
  --color-onyx: #141414;
  --color-sea-green: #2e8b57;
  --color-raspberry-red: #d62246;
}

:root {
  --background: #ffffff;
  --foreground: #141414;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #141414;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
